[submodule "external/CuteChart"]
	path = external/CuteChart
	url = https://github.com/conradhuebler/CuteChart
[submodule "external/curcuma"]
	path = external/curcuma
	url = https://github.com/conradhuebler/curcuma
